
*.ipynb
*.pth
*.log
*/__pycache__/
__pycache__/
*.tar
*.pyc
*.m~
*.backup
.vscode
.vscode/
*event*
*.pt
*.pdf
*.pkl
*.jpg
*.html
.ipynb_checkpoints/
*.sh

data/coco
data/mscoco
data/referit
visualization/
wandb/
weights/
external/refer/data/
eval_dir/
